<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Brawl Stars, Game, Jeu, Supercell">
    <meta name="description" content="BrawlStars web version.">

    <link rel="shortcut icon" type="image/png" href="/resources/images/logo_brawlstars.png">
    <title>BrawlStars Web</title>

    <link rel="stylesheet" href="/css/game.css" type="text/css">

</head>

<body>

    <audio autoplay loop>

        <source src="/resources/audio/menus/space_main_menu.mp3" type="audio/mpeg">

    </audio>

    <div id="content">



    </div>

</body>

</html>