<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insignic - API V1</title>

    <link rel="stylesheet" href="../css/main.css" type="text/css">

</head>

<body>

    <h1>V1 API has stopped on 06/08/21, please use <a href="./v2">V2</a> instead.</h1>
    
</body>

</html>